extends ../layouts/default_f

block head
  title UserGuide

block neck
  //-link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')

block body
  div.row
    div.small-12.small-centered.text-center.columns
      p
      h1.text-center Welcome to the UserGuide
      p
      p For those people who don't know how much the coffee costs.
    div.small-6.small-centered.text-center.columns
      //-a#start-jr.button.large.radius.text-center(href='/get-started/') Get Started!
      a#start-jr.button.large.radius.text-center(onclick="$(document).foundation('joyride', 'start');") Get Started!

block feet
  ol.joyride-list(data-joyride='')
    li(data-button='Get started!' data-options='prev_button:false')
      h1 Welcome!
      p This is a demonstration of the Foundation Joyride feature tour functionality.
