extends ../../layouts/default_f

block head
  title Sign Up

block neck
  //-link(rel='stylesheet', href='/views/signup/index.min.css?#{cacheBreaker}')

block feet
  script(src='/views/signup/index.min.js?#{cacheBreaker}')

block body
  .row
    .small-12.columns
      p
      div#signup

  script(type='text/template', id='tmpl-signup')
    .row
      .small-12.columns
        form
          fieldset
            legend Sign Up
            .row
              .small-12.columns
                .alerts
                  |<% _.each(errors, function(err) { %>
                  .alert-box.alert(data-alert='')
                    <%- err %>
                    a.close(href='#', onclick="$(document).foundation('reflow')") &times;
                  |<% }); %>
                .form-group(class!='<%- errfor.username ? "has-error" : "" %>')
                  label Pick a Username:<% if(errfor.username) { %>
                  span.help-block.label.alert <%- errfor.username %><% } %>
                  input.form-control(type='text', name='username', value!='<%= username %>')
                .form-group(class!='<%- errfor.email ? "has-error" : "" %>')
                  label Enter Your Email:<% if(errfor.email) { %>
                  span.help-block.label.alert <%- errfor.email %><% } %>
                  input.form-control(type='text', name='email', value!='<%= email %>')
                .form-group(class!='<%- errfor.password ? "has-error" : "" %>')
                  label Create a Password:<% if(errfor.password) { %>
                  span.help-block.label.alert <%- errfor.password %><% } %>
                  input.form-control(type='password', name='password', value!='<%= password %>')
                .form-actions
                  button.btn-signup.expand(type='button') Create My Account
