extends ../../layouts/default_f

block head
  title About #{projectName}

block neck
  //-link(rel='stylesheet', href='/views/about/index.min.css?#{cacheBreaker}')

block body
  .row
    .small-12.small-centered.columns
      p
      h1 About #{projectName}
      p
      p <a href='/'>#{projectName}</a> is a way of deploying interactive user guides to the web.
        | It uses 
        a(target='_blank', href='http://foundation.zurb.com/') Zurb's Foundation framework 
        | to make everything responsive,
        | neat and tidy.
